services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./media:/app/media
      - ./static_external:/app/static_external
    ports:
      - "8000:8000"
    restart: unless-stopped
