$black ?= #000000
$white ?= #ffffff
$grid-xs = 320px
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 1024px
$grid-xl = 1200px
$grid-xxl = 1400px

html,
body
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility !important

html
	font-size 10px

body
	font-size 1.6rem

a,
button
	transition .3s all ease
