{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="imagetoolbar" content="no">
	<meta name="msthemecompatible" content="no">
	<meta name="cleartype" content="on">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	{% comment %}
	<link sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" rel="apple-touch-icon">
	<link sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon">
	<link sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" rel="apple-touch-icon">
	<link sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon">
	<link sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" rel="apple-touch-icon">
	<link sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon">
	<link sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" rel="apple-touch-icon">
	<link sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" rel="apple-touch-icon">
	<link sizes="196x196" href="{% static 'images/favicon-196x196.png' %}" rel="icon" type="image/png">
	<link sizes="128x128" href="{% static 'images/favicon-128.png' %}" rel="icon" type="image/png">
	<link sizes="96x96" href="{% static 'images/favicon-96x96.png' %}" rel="icon" type="image/png">
	<link sizes="32x32" href="{% static 'images/favicon-32x32.png' %}" rel="icon" type="image/png">
	<link sizes="16x16" href="{% static 'images/favicon-16x16.png' %}" rel="icon" type="image/png">
	<meta name="application-name" content="Example">
	<meta name="msapplication-tooltip" content="Example">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-starturl" content="http://example.ru">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-square310x310logo" content="{% static 'images/mstile-310x310.png' %}">
	<meta name="msapplication-wide310x150logo" content="{% static 'images/mstile-310x150.png' %}">
	<meta name="msapplication-square150x150logo" content="{% static 'images/mstile-150x150.png' %}">
	<meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png' %}">
	<meta name="msapplication-square70x70logo" content="{% static 'images/mstile-70x70.png' %}">
	{% endcomment %}

	<title>{% block full_title %}{% block title %}{% endblock %} — Tail of title{% endblock full_title %}</title>

	{% comment %} <link rel="canonical" href="{{ request.path }}"> {% endcomment %}
	<link rel="preload" href="{% static 'styles/base.css' %}" as="style">
	<link rel="stylesheet" href="{% static 'styles/bootstrap4/base.css' %}">
	<link rel="stylesheet" href="{% static 'styles/base.css' %}">

	{% block head %}{% endblock head %}

</head>
<body>

	{% block content %}{% endblock content %}

	<script src="{% static 'scripts/base.js' %}"></script>

	{% block footer_js %}{% endblock footer_js %}

</body>
</html>
