{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<title>{% block full_title %}{% block title %}{% endblock %}{% endblock full_title %}</title>

	<link rel="canonical" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}">

	<link rel="preload" href="{% static 'styles/base.css' %}" as="style">
	<link rel="stylesheet" href="{% static 'styles/bootstrap/base.css' %}">
	<link rel="stylesheet" href="{% static 'styles/base.css' %}">

	{% block head %}{% endblock head %}

	{{ preference.header_html|safe }}

</head>
<body>

	{% block content %}{% endblock content %}

	<script src="{% static 'scripts/base.js' %}"></script>

	{% block footer_js %}{% endblock footer_js %}

	{{ preference.footer_html|safe }}

</body>
</html>
